body.guest {
  /* Location of the image */
  background-image: url(../images/bg-pc.jpg);
}
.guest .second-column span{
    font-size: 2.4em;
}

.guest .second-column input{
    font-size: 2.4em;
}

.guest .second-column button{
    font-size: 2.0em;

}