body.guest {
  /* Location of the image */
  background-image: url(../images/bg-tablet.jpg);
}
.guest .second-column span{
    font-size: 2.0em;
}

.guest .second-column input{
    font-size: 2.0em;
}

.guest .second-column button{
    font-size: 1.7em;

}

body.list-page {

}

.list-page .container .list-of-topic .topic-date-time-speaker {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

body.chat-page {
    width: 50%;
    margin: 0 auto;
}

.chat-page .message .guest-pic{
    width: 40px;
    height: 40px;
}