.button {
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(250,192,61,1); /* SET 137c */
    border: none;
    color: black;
    text-align: center;
    padding: 10px 20px;
    /*transition: all 0.5s;*/
    font-size: 1.7em;
    cursor: pointer;
    text-decoration: none;
}

.menu-bar {
    background-color: rgba(250,192,61,1); /* SET 137c*/
    height: 50px;
    width: 100%;
    font-size: 1.7em;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.menu-bar .left {
    width: 15%;
    text-align: center;
    height:100%;
    order: 1;
    flex-grow: 1;
}

.menu-bar img.back-button, img.search-button {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.menu-bar .center {
    width: 65%;
    font-size: 1.2em;
    text-align: center;
    order: 2;
    flex-grow: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-bar .right {
    width: 15%;
    text-align: center;
    height:100%;
    order: 3;
    flex-grow: 1;
}

body.guest-page {
  /* Location of the image */
  background-image: url(../images/bg-mobile.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: top center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.guest-page .first-row {
    width:100%;
    height:25%;
}

.guest-page .third-row {
    width:100%;
    height:35%;
}

.guest-page .second-row {
    width:100%;
    height:38%;
}
.guest-page .first-column{
    width:10%;
    display: inline-block;
}

.guest-page .second-column{
    width:80%;
    display: inline-block;
}

.guest-page .second-column span{
    color: white;
    text-align: center;
    font-size: 2.0em;
    display: block;
    white-space: nowrap;
    text-shadow: 1px 1px black;
    -moz-text-shadow: 1px 1px black;
    -webkit-text-shadow: 1px 1px black;
    -o-text-shadow: 1px 1px black;
    -ms-text-shadow: 1px 1px black;
}

.guest-page .second-column input text{
    margin: 7% auto 0 auto;
    color: white;
    border: 0px;
    border-bottom: 0.1em solid white;
    background: none;
    font-size: 1.7em;
    width:80%;
    padding:20px;
    display: block;
    text-align: center;
}

.guest-page .second-column .captcha{
    width: 304px; /*google recaptcha size*/
    margin: 10% auto 0 auto;
}

.guest-page .second-column input[type=submit]{
    margin: 10% auto 0 auto;
}

.guest-page .second-column ::-webkit-input-placeholder {
    color: white;
    text-align: center;
}
.guest-page .second-column :-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-align: center;
}
.guest-page .second-column ::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 1;
    text-align: center;
}
.guest-page .second-column :-moz-placeholder { /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
    text-align: center;
}

.guest-page .third-column{
    width:10%;
    display: inline-block;
}

body.list-page {
    background-color: rgba(240,240,240,1); /*silver bg*/
}

.list-page .container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
/*  justify-content: center;
  align-items: center;*/
}

.list-page .container .list-of-topic {
    margin: 5% auto 0 auto;
    padding: 20px;
    width:  80%;
    min-height: 80px;
    border-radius: 0.4em;
    background-color: rgba(255,255,255,1); /* SET 137c */
    color: black;
    position: relative;
}

.list-page .container .list-of-topic .topic-header {
    font-size: 2.0em;
    display: flex;
    justify-content: flex-start;
    color: rgba(0,0,255,1);
}

.list-page .container .list-of-topic .topic-date-time-speaker {
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-page .container .list-of-topic .topic-date-time-speaker .topic-date-time {
    flex-grow: 1;
    order: 1;
}

.list-page .container .list-of-topic .topic-date-time-speaker .topic-speaker {
    flex-grow: 1;
    order: 2;
}

.list-page .container .list-of-topic .topic-date-time-speaker .tag {
    color: rgba(150,150,150,1);
}

.list-page .container .list-of-topic .topic-ask-button {
    display: flex;
    justify-content: center;
    margin-top:10px;
}

body.chat-page {
    /*background-color: rgba(218,234,226,1);*/

    /*background-color: rgba(255,255,255,1);*/
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-page .container {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px;
    background-color: rgba(230,252,255,1);
}

.chat-page .form {
    background-color: rgba(250,192,61,1); /* SET 137c*/
    height: 50px;
    width: 100%;
    font-size: 1.7em;
    display: flex;
}
.chat-page .form .text-input {
    flex: 1 1 auto;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0 0.8em 0 0.8em;
    border-radius : 0px;
    -moz-border-radius : 0px;
    -webkit-border-radius : 0px;
    -o-border-radius : 0px;
    /*background-color: rgba(239,239,239,1);*/
    background-color: rgba(245,245,245,1);
}

.chat-page .form .button {
    flex: 0 0 20%;
    font-size: 1em;
 }

.chat-page .bubble {
  flex: 1 1 auto;
  clear: both; } /* clear the floats here on parent */

.chat-page .message{
    margin: 8px 12px;
    font-size: 1.2em;
}
.chat-page .message .name-left{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.chat-page .message .name-right{
    margin: 0;
    padding: 0;
    display: inline-block;
    float:right;
}
.chat-page .message .guest-pic{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.chat-page .bubble p {
    border-radius: 5px;
    padding: 8px;
    max-width: 90%;  /* this will make it not exceed 80% and then wrap */
    position: relative;
    transition: background-color 0.5s;
}

.chat-page .left p {
  margin: 0 0 0 8px;
  background-color: white;
  float: left; } /* floated left */

.chat-page .right p {
  margin: 0 8px 0 0;
  background-color: rgba(250,192,61,1);
  color: black;
  float: right; } /* floated right */
/* classes below are only for arrows, not relevant */
.chat-page .left p::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid white;
    border-bottom: 4px solid transparent;
}
.chat-page .right p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -8px;
    bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid rgba(250,192,61,1);
    /*border-left: 8px solid rgba(70,221,66,0.8);*/
    border-bottom: 4px solid transparent;
}

.alert-message {
    position: absolute;
    width: 80%;
    height: 50px;
    left: 10%;
    bottom: 60px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.3em;
}

.alert {
    display: table;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7em;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.new-message {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 10%;
    bottom: 60px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.3em;
}